<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="text-orange fw-bold">Carrot.</h5>
                <p class="small">
                    Carrot is your premier destination for delicious food delivery. We take pride in connecting food lovers with the best local restaurants, ensuring fresh and timely delivery right to your doorstep. Experience convenience, quality, and exceptional service with every order.
                </p>
                <div>
                    <i class="fab fa-facebook fa-lg me-3"></i>
                    <i class="fab fa-twitter fa-lg me-3"></i>
                    <i class="fab fa-linkedin fa-lg"></i>
                </div>
            </div>
            <div class="col-lg-3 mt-2">
                <h5 class="fw-bold">COMPANY</h5>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-white text-decoration-none">About us</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Delivery</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Privacy policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mt-2">
                <h5 class="fw-bold">GET IN TOUCH</h5>
                <ul class="list-unstyled small">
                    <li>+1-212-4560-7890</li>
                    <li>contact@greatstack.dev</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <hr class="bg-light">
            <p class="small mb-0">Copyright 2024 &copy; carrot.com - All Right Reserved.</p>
        </div>
    </div>
</footer>
